body{
	background: darkgreen;
	font-family: arial, calibri, "Times New Roman"
	font-variant:small-caps;
	text-align: center;
	font-variant: small-caps;	
	font-size: 150%
}

h1 {
	color: aqua;
	background: black;


}
